---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Check ur SANity">
	<main class="p-4">
		<div class="flex gap-2 items-center">
			<div>
				<h1><a href="https://en.wikipedia.org/wiki/Subject_Alternative_Name" class="underline">SAN</a>ity Check™</h1>
				<input type="text" placeholder="Enter hostname or IP" id="input-main" class="border-black p-1 border-solid border-2 rounded-s-lg rounded-e-full bg-slate-100" autofocus value="example.com"/>
			</div>
			<div class="flex items-center gap-2 bg-slate-100 p-3 h-fit rounded-lg shadow-md">
				<p id="stats"></p><div class="w-1 h-1 bg-green-500 rounded-full"/>
			</div>
		</div>

		<div class="mt-4 md:w-1/2 lg:w-1/4">
			<span class="text-gray-300">&gt; </span><span class="italic text-gray-500">What is this?</span>
			<p class="">The <code><b>S</b>ubject <b>A</b>lternate <b>N</b>ame</code> header on an SSL certificate is a header which contains information about the domain names the certificate is valid for. Some services are smart enough to use a seperate SSL certificate for each domain they operate. A large amount, however, reuse certificates, adding the names of other domains to the SAN field of the certificate. This tool allows you to query the SAN data for a given domain, and it also performs a recursive search, which can uncover additional domains in some cases.</p>
			
		</div>


		<div id="plot-div" class="m-10 bg-slate-100 rounded-md p-5 shadow-md w-fit"></div>

	</main>


	<script>
		import { SERVER_URL } from "../constants";
		// import * as Plot from '@observablehq/plot';
		// import * as d3 from 'd3';

		async function stats(url) {
			const res = await fetch(SERVER_URL + "/stats/cache")
			const resp = await res.json();
			document.getElementById('stats').innerText = resp.num_entries + " entries in cache";
		}

		stats();

		// setI

		function createTreeElement(data) {
			const ul = document.createElement('ul');
			ul.className = 'tree';

			data.children.forEach(child => {
				const li = document.createElement('li');
				const span = document.createElement('span');
				span.textContent = child.host;
				span.dataset.statusColor = child.success == true ? 'green' : 'red';
				li.appendChild(span);
				
				// Recursively create subdirectories
				if (child.children.length > 0) {
					li.appendChild(createTreeElement(child));
				}

				ul.appendChild(li);
			});

			return ul;
		}

		async function plot(url) {
			const div = document.querySelector("#plot-div");

			div.innerHTML = "Loading results for " + url + "...";
			
			const res = await fetch(SERVER_URL + "/query/" + encodeURIComponent(url))
			const resp = await res.json();
			
			div.innerHTML = "";


			const treeElement = createTreeElement(resp);

			div.appendChild(treeElement)
	
		}

		plot("example.com")

		document.getElementById('input-main').addEventListener('keyup', async function(e){
			if(e.key === 'Enter'){
				plot(e.target.value);
			}
		});
	</script>


</Layout>
