---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
	<style is:global>


.tree {
    list-style-type: none;
    /* padding-inline: 15px; */
	margin-left: 10px;
    position: relative;
	font-family: monospace
	/* margin: 1rem; */
}

.tree > li > span::after {

}

.tree > li > span[data-status-color="green"]::after {
	content: ' >';
	color: lightgray
}

.tree > li > span[data-status-color="red"]::after {
	content: ' !';
	font-weight: bold;
	color: red;
}

.tree::before {
	content: '┗';
	color: lightgray;
	position: absolute;
	top: 0px;
	/* width: 1px; */
	/* height: calc(100% - 15px); */
	/* border-left: 1px solid #ccc; */
	left: -12px;
}

/* stop the top level ul form having an extra shift */
div > ul {
	margin-left: 0 !important;
}

div > ul::before {
	content: '?' !important;
}

/* Each node (li) in the tree */
.tree li {
    margin: 0;
    padding: 0;
    position: relative;
}

	</style>
</html>

